

header{
position: fixed;
z-index: 2;
width: 100%;
    .header{
        height: 100px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        a{
            img{
                width: 100px;
        }
        }

        nav{
            display: flex;
                justify-content: center;
            ul{
                display: flex;
                justify-content: center;
               
                li{
                    margin: 0 40px;
                    a{
                        color: #fff;
                        font-size: 15px;
                        font-family: 'Poppins', sans-serif;
                        &:hover{
                            color:#3a908a;
                        }
                        
                    }
                }
            }


            button{
            background: none;
            border: none;
            outline: none;
            cursor: pointer;
            select{
                border: none;
                background: none;
                outline: none;
                color: #fff;
                font-size: 15px;
                font-family: 'Poppins', sans-serif;
            }
        }
        }

    }
}